doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title komonjo-web
    script(src='scripts/bundle.js')
    link(rel='stylesheet' type='text/css' href='stylesheets/reset.css')
    link(rel='stylesheet' type='text/css' href='stylesheets/index.css')
    link(rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body
    #container
