body {
  background: #DDD;
}

#container {
  width: 600px;
  margin: 30px auto 40px;
}
.hidden {
  display: none;
}
.message {
  border: 1px solid gray;
  padding: 4px;
  background: #EEE;
}

.messages {
  list-style: none;
}
